/*.carousel-container{*/
/*    border-radius: 25px;*/
/*    transition: transform .5s ease;*/
/*    width: 100%;*/
/*    margin-bottom: 35px;*/

/*}*/
.sectionSlider {
    width: 100%;
    margin: 0 auto;
}

.slide{
    width: 100%;
    height: 484px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 25px;
    margin-top: 3%;
}
.arrowRight{
    position: absolute;
    left: 88.7%;
    right: 0;
    top: 36.93%;
    bottom: 37.24%;
}
.arrowLeft{
    position: absolute;
    right: 88.20%;
    top: 37.74%;
    bottom: 35.44%;
}
.slideNumber {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .arrowLeft {
        width: 7%;
        right: 93%;
        top: 40%;
    }
    .arrowRight {
        width: 7%;
        left: 93%;
        top: 40%;
    }
}