.Collapse-style {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Description {
    width: 582px;
    height: 330px;
    border-radius: 10px;
    top: 42px;
}

.Equipements {
    width: 582px;
    height: 330px;
    border-radius: 10px;
    top: 42px;
}
.Description.closed {
    background-color: transparent;
}