.container-tag {
    width: 40%;
    height: 35px;
    border-radius: 10px;
    background: #FF6060;
    margin-bottom: 22px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

