.container-title {
    position: absolute;
    left: 1%;
    right: 48.96%;
    top: 252%;
    bottom: 39.06%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    /* or 51px */

    display: flex;
    align-items: flex-end;

    color: #FF6060;
}
.container-location{
    position: absolute;
    left: 1%;
    right: 70%;
    top: 275%;
    bottom: 36.52%;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    /* identical to box height, or 26px */

    display: flex;
    align-items: flex-end;

    color: #FF6060;

}