.container_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.loader_wrapper{
    background: #F7F7F7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 25px;
    width: 100%;
    padding-top: 20px;
}

.loader_wrapper a {
    width: 340px;
    height: 340px;
    margin: 20px 15px;
}

.container_title{
    position: absolute;
    left: 5.88%;
    bottom: 2px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: white;
}

.rectangle {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 10px;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-Body {
    width: 100%;
}

.pPicture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pPicture p {
    color: white;
    font-size: 48px;
    display: flex;
    width: 100%;
    height: 220px;
    background-position: center;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-size: cover;
    background-color: #0000004d;
    background-blend-mode: darken;
}


/* RESPONSIVE */



@media (max-width: 767px){

    .container_section{
        background-color: white;
        margin: 20px 0;
    }

    .container_section a {
        width: 100%;
        height: 200px;
        max-width: 100%;
    }

    .pPicture {
        padding: 10px;
    }
    .pPicture p  {
        font-size:  25px;
        height: 111px;
        margin: 0 auto;
        padding: 10px;
    }

}