.loader_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background: #F7F7F7;
    border-radius: 25px;
}

.rectangle{
    height: 340px;
    width: 340px;
    position: relative;
    display: flex;
    margin: 40px 30px 30px 30px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rectangle > p {
    position: absolute;
    left: 5%;
    bottom: 2px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.chezVous{
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;

}

.picture{
    /*background-image: url('../../assets/bannerHome.png');*/
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2rem 0 3rem 0;
}

.pPicture {
    font-size: 48px;
    color: white;
    display: flex;
    width: 100%;
    height: 223px;
    background-position: center;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3019607843);
    background-blend-mode: darken;
    margin: 0;
    background-image: url('../../assets/bannerHome.png');
}



@media (max-width: 768px) {
    .loader_wrapper {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
    }
    /*.rectangle {*/
    /*    max-width: 800px;*/
    /*    min-height: 400px;*/
    /*    width: 100%;*/
    /*}*/
}

