.header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto
}

.header {
    margin-top: 1rem;
}

.homepage {
    font-size: 24px;
    padding: 20px 30px 20px 20px;
}

.about {
    font-size: 24px;
    padding: 20px 20px 20px 30px;
}

