*{
  box-sizing: border-box;
}
/*body {*/
/*  margin: 0 auto;*/
/*  !*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*!*/
/*  !*'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;*!*/
/*  !*-webkit-font-smoothing: antialiased;*!*/
/*  !*-moz-osx-font-smoothing: grayscale;*!*/
/*}*/
body {
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}
.container{
  display: flex;
  justify-content: center;
}


/*header {*/
/*  height: 68px;*/
/*  width: 1240px;*/
/*  margin: 0 auto; !* centré horizontalement *!*/
/*}*/

/*nav {*/
/*  position: absolute;*/
/*  right: 11%;*/
/*  top: 1%;*/
/*  display: flex;*/
/*  align-items: flex-end; !* aligner verticalement *!*/
/*  justify-content: flex-end; !* aligner horizontalement à droite *!*/
/*  height: 34px;*/
/*  width: 309px;*/
/*  border-radius: 0;*/
/*  font-family: 'Montserrat', sans-serif;*/
/*  font-style: normal;*/
/*  font-weight: 500;*/
/*  font-size: 24px;*/
/*  line-height: 34px;*/
/*  text-decoration-line: underline;*/

/*}*/

/*#nav1 {*/
/*  position: absolute;*/
/*  left: 35%;*/
/*  color: #FF6060;*/
/*}*/

/*#nav2 {*/
/*  position: absolute;*/

/*  color: #FF6060;*/
/*}*/

/*footer {*/
/*  position: relative;*/
/*  width: 100%;*/
/*  height: 209px;*/
/*  background: #000000;*/
/*  margin: 0 auto; !* centré horizontalement *!*/
/*}*/

/*footer img {*/
/*  position: absolute;*/
/*  left: 45.76%;*/
/*  right: 45.76%;*/
/*  top: 31.58%;*/
/*  bottom: 49.55%;*/
/*}*/

/*footer p {*/
/*  position: absolute;*/
/*  left: 37%;*/
/*  right: 32.22%;*/
/*  top: 64.11%;*/
/*  bottom: 13.88%;*/
/*  font-family: 'Montserrat', sans-serif;*/
/*  font-style: normal;*/
/*  font-weight: 500;*/
/*  font-size: 24px;*/
/*  line-height: 142.6%;*/
/*  display: flex;*/
/*  align-items: flex-end;*/
/*  !*text-align: center;*!*/
/*  color: #FFFFFF;*/
/*}*/

/*#sectionOne {*/
/*  position: relative; !* remplacer position: absolute *!*/
/*  width: 1240px;*/
/*  height: 223px;*/
/*  margin: 0 auto; !* centré horizontalement *!*/
/*  !*background: #F7F7F7;*!*/
/*  mix-blend-mode: darken;*/
/*  opacity: 0.9;*/
/*  border-radius: 25px;*/
/*  background-image: url("../section1_IMG.svg") ;*/
/*}*/


/*#sectionOne p {*/
/*  position: absolute;*/
/*  left: 25.9%;*/
/*  top: 24.32%;*/


/*  font-family: 'Montserrat', sans-serif;*/
/*  font-style: normal;*/
/*  font-weight: 500;*/
/*  font-size: 48px;*/
/*  line-height: 142.6%;*/
/*  !* or 68px *!*/
/*  display: flex;*/
/*  align-items: flex-end;*/
/*  color: #FFFFFF;*/
/*}*/