.kasa-Footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 5%;
}
.logo_Kasa_Footer {
    filter: brightness(5);
    width: 20%;
    padding: 40px;
}
.kasa-footer-elem {
    color: white;
}

@media (max-width: 767px) {
    .logo_Kasa_Footer {
        width: 40%;
        padding: 18px;
    }
    .kasa-footer-elem {
        font-size: 12px;
    }
}