footer {
    background-color: #000;
    display: flex;
    width: 100%;
    align-items: center;
    color:white;
    justify-content: center;
    margin: 60px auto 0;
}

.footerDiv{
    padding:60px 30px 30px;
    align-content: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
