.chevron.open {
    transform: rotate(180deg);

}

.chevron.closed {
    transform: rotate(0deg);
}
.content.hide {
    display: none;


}
.accordion-logement.active{
    background-color: transparent;
}

.content.show {
    display: block;
    background: #F7F7F7;
    border-radius: 10px;
    width: 582px;
    height: 330px;
    padding: 40px 12px 27px 20px;
}

button {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    background: #FF6060;
    border-radius: 10px;
    border: #FF6060;
}
.title-white {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.content {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 158%;
    color: #FF6060;

}

.fa-chevron-up {
    height: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
