.chevron.open {
    transform: rotate(180deg);

}

.chevron.closed {
    transform: rotate(0deg);
}
.content.hide {
    display: none;


}
.accordion-logement.active{
    background-color: transparent;
    margin-bottom: 23px;
}

.content.show {
    display: block;
    background: #F7F7F7;
    border-radius: 10px;
    width: 100%;
    padding: 40px 12px 27px 20px;
}

button {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    background: #FF6060;
    border-radius: 10px;
    border: #FF6060;
}
.title-white {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.content {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 158%;
    color: #FF6060;

}

.fa-chevron-up {
    height: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.AccordionLogement {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.AccordionLogement .false {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    margin: 0 2.5% 0 2.5%;
}

.AccordionLogement .active {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    margin: 0 2.5% 0 2.5%;
}

.AccordionLogement div {
    border-radius: 10px;
}

/* RESPONSIVE */



@media (max-width: 799px){

    .accordionTitle {
        font-size: 13px;
    }

    .AccordionLogement {
        flex-direction: column;
        gap: 30px;
    }

    .AccordionLogement .false {
        width: 90%;
        margin: 0 5%
    }

    .AccordionLogement .active {
        width: 90%;
        margin: 0 5%;
        font-size: 12px;
    }

    .active .accordionContent {
        font-size: 12px;
    }

}